{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="col-md-4">
	<div id="player">	
    	<h3> {{player.name}} | {{player.number}} </h3>
    	<ul class="player">
    		<li><strong>Position:</strong> {{player.position}}</li> 
    		<li><strong>Hometown:</strong>  {{player.hometown}}</li>
    		<li><strong>Grade:</strong>  {{player.grade}}</li>
    	</ul>
    </div>
	</div>
    
    <div class="col-md-8">
    <div id="player-photo">
    	<img src="{{ player.avatar }}">
    </div>
	</div>
</div>
		
		<div id="return">
			Go back to

			{% if player.team.gender == 'm' %}
				Men's
			{% else %}
				Women's
			{% endif %}
			<a href="{% url 'team' player.team.id %}">{{ player.team.name }}</a>
		</div>
    

    

{% endblock content %}