{% load static from staticfiles %}

<!DOCTYPE html>

<html>

	<head>
		<title>{% block title %}Sports App Project{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
	</head>

	<body {% block background %}{% endblock %}>


	<div class="logo">
		<a href="{% url 'home' %}">
			<img src="{% static 'logo1.png' %}" alt="UNC logo">
			<img src="{% static 'logo2.png' %}" alt="Go Heels Logo">
		</a>
	</div>


	





		<div class="container">
			{% block content %}{% endblock %}
		</div>

	</body>

</html>